body{
    font-family: monospace;
}
td{

    border: 1px solid #8c8c8c;
    padding: 16px;
    font-size: 2.7em;
    text-align: center;
    min-width: 1.27em;
    background-color: #dcdcdc;
}

td.content{
    -webkit-box-shadow: inset 1px 2px 2px 0px rgba(138,138,138,1);
    -moz-box-shadow: inset 1px 2px 2px 0px rgba(138,138,138,1);
    box-shadow: inset 1px 2px 2px 0px rgba(138,138,138,1);
    background-color: initial;
}

h1{
    margin-bottom: 8px;
}